streamlit
pandas
gspread
google-auth
google-api-python-client
matplotlib
PyPDF2
Pillow
pytesseract
paddleocr
paddlepaddle
requests
pymupdf
streamlit-calendar
holidays
streamlit-aggrid
fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
apscheduler>=3.10.0